<div class="col-md-7">
<%= render 'articles/index' %>
</div>
<div class="col-md-5">
<%= render 'layouts/social' %>
  <div class="right-line">
    <%= render 'layouts/searchbar' %>
    <% if current_user %>
      Seja Bem vindo! <%= current_user.email %><br>
      <div class="dropdown">
        <button class="dropbtn">Menu</button>
          <div class="dropdown-content">
            <ul>
              <li><a href="#">Painel</a></li>
              <li><a href="#">Perfil</a></li>
            </ul>
          </div>
        </div>
      <% end %>
  </div>
</div>  