<div class="jumbotron">
  <div class="container">
    <% if current_user %>
  <div class="page-header"><h1>Welcome back!</h1></div>
  <% if current_user.role = "admin" %>
  <%= render 'details' %>
  <% end %>

  <% else %>
    <h1>Welcome!</h1>
    <p>Sign up to get started.</p>
    <p>
      <%= link_to new_user_path, class: 'btn btn-primary btn-lg' do %>
        Sign Up &raquo;
      <% end %>
    </p>
  <% end %>
  
  
    
  </div>
  
</div>
<%= render 'articles/index' %>