<h1>Publicações recentes</h1>
  <% @articles.each do |article| %>
   <hr>
   <div class="row">
   <div class="col-md-12">
        
        <img class="image-post" src="<%= article.portrait %>">
          
          
        
      </div>
  </div>
  <div class="row">
    <div class="col-md-12"><%= article.text[0...200] %>... <%= link_to '(Continuar lendo)', article_path(article) %></div>
  </div>
  <% end %>
