<div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading"><h1>Painel Administrativo</h1></div>
        <ul class="nav nav-pills nav-stacked">
          <li class="active" data-painel-menu="password"><a class="cursor-pointer" >Trocar Senha</a></li>
          <li data-painel-menu="editInfo"><a class="cursor-pointer" >Editar informações</a></li>
          <li data-painel-menu="newPost"><a class="cursor-pointer" >Adicionar novo post</a></li>
          <li data-painel-menu="editBanners"><a class="cursor-pointer" >Editar banners</a></li>
        </ul>
    </div>
    
</div>
<div class="col-md-7">

<div class="dinamic-menu"><%= render 'layouts/password'%></div>

</div>