// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-title{
    color:white;
    background-color:#333;
    padding-left: 10px;
    
}
.well {
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.post-title{
    padding-top: 3px;
}
.image-post{
    width: 100%;
    height: auto;
}
hr{
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.detailed-image{
    width: 70%;
    height: 450px;
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}