// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-post{
    width:25vw;
    height:13vw;
}
hr{
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.detailed-image{
    width: 70%;
    height: 450px;
}