<% if current_user %>
      Seja Bem vindo! <%= current_user.email %><br>
      <div class="dropdown">
        <button class="dropbtn">Menu <span class="caret"></span></button> 
          <div class="dropdown-content">
            <ul>
              
              <li><div id="some-div" data-no-turbolink> <%= link_to 'Painel', painel_path %> </div></li>  
              
              <li><a href="#">Perfil</a></li>
            </ul>
          </div>
        </div>
<% else %>
Cadastre-se agora ou faça login! <br>
<%= link_to 'Sign-up', new_user_path, class: "btn btn-primary" %>
<%= link_to 'Login', sign_in_path, class: "btn btn-primary" %>



<% end %>